/** -------------------------------------------------------------------------------------------------------------------
 * @eslint-docs: https://eslint.org/
 * ----------------------------------------------------------------------------------------------------------------- **/
{
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],

  "env": {
    "node":       true,
    "browser":    true,
    "es6":        true,
    "jest":       true,
    "jasmine":    true
  },

  "globals": {
  },

  "rules": {
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/consistent-type-assertions": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "no-sequences": "off"
  }
}
